#floating-alert{
	display: block;

	position: fixed;
	bottom: 0px;
	z-index: 100;

	width: 100%;

	margin: 0px;

	text-align: center;

	&.alert-danger{
		background-color: $primary-danger;
		color: white;
	}

	&.alert-success{
		background-color: $primary-green;
		color: white;
	}
}