.table{
    margin: 0px;
    thead, tbody{
        tr{
            th, td{
            text-align: center;
            vertical-align: middle;
            }
        }
    }
}

.table-column{
    width: 250px;
}

.blocks-panel{
    .panel-heading{
        padding: 0;
    }
}

.panel-body.blocks{
    border-color: $primary-green;
    border-width: 0 0 0 5px;
    border-style: solid;
}

.panel-body.floors{
    border-color: $secondary-green;
    border-width: 0 0 0 5px;
    border-style: solid;
}

tbody.blocks, tbody.floors{
	cursor: pointer;
}

tbody.blocks:hover, tbody.floors:hover{
	background-color: $primary-green;
	color: white;
}