@import url('https://fonts.googleapis.com/css?family=Pacifico');

$site-bg: #fafafa;
$primary-green: #5cb85c;
$secondary-green: #449d44;
$complements-green: #f0ad4e;

$primary-danger: #d43f3a;

body{
	background: $site-bg;
	padding-bottom: 100px;
}

.logo{
	font-family: 'Pacifico', cursive;
}
 
.greened{
	background-color: $primary-green;
	color: white;

	a{
		color: white;
	}
}

.text-warning{
	color: #f0ad4e;
}

.jumbotron{
	@extend .greened;
	background-color: $secondary-green;
}

.progress{
	height: 2px;
	overflow: visible;

	margin-top:50px;

	.progress-bar{
		position: relative;
		text-align: left;
		color: #777;

		opacity: 0.3;

		p{
			position: absolute;
			bottom: 0px;
			white-space: nowrap;
			font-size: 1.5rem;

			span{
				vertical-align: text-bottom;
				padding: 3px 15px;
			}

			a{
				text-decoration: none;
				color: inherit;
			}
		}
	}

	.progress-bar.active{
		opacity: 1;

		p{
			font-weight: bold;
			color: $primary-green;

			span{
				background-color: $primary-green;
			}
		}
	}
}

.jumbotron{
	/* animation magic */
	-webkit-transition: padding 0.7s ease-in-out;
	-moz-transition: padding 0.7s ease-in-out;

	p{
		/* animation magic */
		-webkit-transition: font-size 0.7s ease-in-out;
		-moz-transition: font-size 0.7s ease-in-out;
	}
}

.shrinkable.jumbotron.shrink{
	padding: 10px;

	p{
		font-size: 15px;
	}
}

.progress-bar{
	background-color: white;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.form-inline > * {
    margin:15px 3px !important;
}

.row.panel-container{
	margin: 0px;
	
	.panel{
		padding: 0px;
	}
}

.row.combi-well{
	margin: 0px;
}

.room-well{
	a{
		width: 100%;
	}
}

.well{
	display: inline-block;
    width: 100%;
}

ul.nav{
	li.active{
		a.greened{
			background-color: $primary-green;
			font-weight: bold;
			font-style: italic;
			color: white;
		}
	}
}

@import 'Alert';
@import 'Home';
@import 'Campus';
@import 'Login';
@import 'NavigationBar';